body {
  width: 100%;
  font-family: "Open Sans";
}

#container {
  max-width: 900px;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

h1 {
  position: absolute;
  text-align: center;
  width: 900px;
  top: 15%;
  color: #FFF;
  font-size: 5em;
}

h2 {
  font-size: 1.3em;
}

hr {
  margin: 50px 0 50px 0;
}
#headerPicture{
  width: 900px;
  height: auto;
  margin-top: -80px;
}

#textContainer {
  width: 700px;
  margin: 0 auto;
}

.infoPicture > img {
  display:block;
  margin:auto;
  width: 50%;
}

.description {
  font-size: 1.2em;
  margin: 50px 0 50px 0;
}

ul {
  margin-bottom: 50px;
}

ul > li{
  list-style: none;
}

ul > li:before{
  content: "- ";
}


ol {
  counter-reset: list;
  margin-bottom: 50px;
}

ol > li {
  list-style: none;
}

ol > li:before {
  content: counter(list) ") ";
  counter-increment: list;
}